@font-face {
        font-family: tt_travels;
        src: url(fonts/tt_travels/thin.otf);
}

@font-face {
        font-family: tt_travels_regular;
        src: url(fonts/tt_travels/regular.otf);
}
@font-face {
        font-family: antone;
        src: url(fonts/antone/Antone\ DEMO.ttf);
}
/** Sets up the grid */
body {
    display: grid;
    cursor: pointer;
    font-family: tt_travels;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 10px;
    font-size: 25px;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

/** Upper */
.qiao-se { 
        grid-area: 1 / 1 / 2 / 2;
}
.qiao-se:hover {
        font-weight: bold;
        color: blue;
}
.cv { 
        grid-area: 1 / 7 / 2 / 8; 
        text-align: right;
        padding-right: 15px;
}
.cv:hover {
        font-weight: bold;
        color: blue;              
}

@keyframes moveALil {
        0%   { position: absolute; top: 0px; left: -50px;}
        60%  { position: absolute; top: 10px; left: 10px;}
        100% {position: absolute; top: 0px; left: -50px;}
}


/** Icons */
/* .icons:hover, .pen:hover{
        /* width: max-content; */
        /* animation-name: moveALil;
        animation-duration: 0.5s;
        animation-iteration-count: infinite
} */
.film { grid-area: 2 / 3 / 3 / 4; 
        vertical-align: center;
        text-align: center;}
.film:hover .label{
        visibility: visible;
}
.pencil { grid-area: 2 / 4 / 3 / 5; 
        vertical-align: center;
        place-items: center;
        text-align: center;}
.pencil:hover .label{
        visibility: visible;
}       
.camera { grid-area: 2 / 5 / 3 / 6; 
        vertical-align: center;
        text-align: center;}
.camera:hover .label {
        visibility: visible;
}
/** Sizing the PNGs **/
.icons { 
        width: 100%;
}
/** Pen Gets Different Sizing **/
.pen {
        width: 90%; 
        margin-top: 10%;
}
/** Labels for the icons (only appear on hover) **/ 
.label {
        font-family: tt_travels;
        font-size: 15px;
        color: blue;
        visibility: hidden;
}
/** Lower */
.press { 
        grid-area: 3 / 1 / 4 / 2; 
        align-self: end;
        padding-bottom: 15px;
}
.press:hover {
        font-weight: bold;
        color: blue;
}
.contact { 
        grid-area: 3 / 7 / 4 / 8; 
        align-self: end;
        text-align: right;
        padding-bottom: 15px;
        padding-right: 15px;
}
.contact:hover {
        font-weight: bold;
        color: blue;
}