@font-face{
        font-family: tt_travels;
        src: url(fonts/tt_travels/regular.otf);
}

/** Sets up the grid */
body {
    display: grid;
    cursor: url(png_icons/mouse.png), pointer;
    font-family: tt_travels;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 10px;
    font-size: 20px;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

/** Upper */
.qiao-se { 
        grid-area: 1 / 1 / 2 / 2;
}
.qiao-se:hover {
        font-weight: bold;
}
.cv { 
        grid-area: 1 / 7 / 2 / 8; 
        text-align: right;
        padding-right: 15px;
}
.cv:hover {
        font-weight: bold;
}

/** Icons */
.film { grid-area: 2 / 3 / 3 / 4; 
        vertical-align: center;}
.pencil { grid-area: 2 / 4 / 3 / 5; 
        vertical-align: center;
        place-items: center;}
.camera { grid-area: 2 / 5 / 3 / 6; 
        vertical-align: center;}
/** Sizing the PNGs **/
.icons { 
        width: 100%;
}
/** Pen Gets Different Sizing **/
.pen {
        width: 65%; 
}
/** Lower */
.press { 
        grid-area: 3 / 1 / 4 / 2; 
        align-self: end;
        padding-bottom: 15px;
}
.press:hover {
        font-weight: bold;
}
.contact { 
        grid-area: 3 / 7 / 4 / 8; 
        align-self: end;
        text-align: right;
        padding-bottom: 15px;
        padding-right: 15px;
}
.contact:hover {
        font-weight: bold;
}