@font-face{
        font-family: tt_travels;
        src: url(../fonts/tt_travels/thin.otf);
}

@font-face{
        font-family: tt_travels_regular;
        src: url(../fonts/tt_travels/regular.otf);
}

body {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 15px;
    width: 100vw;
    font-family: tt_travels; 
    cursor: pointer;
}

/* LEFT BAR */
.left-bar { 
    grid-area: 1 / 1 / 2 / 2; 
    text-align: left; 
    position: fixed;
}

.qiaose {
    font-size: 25px;
}
.qiaose:hover {
    font-weight: bold;
    color: blue;
}

.press{
    font-size: 25px;
    font-family: tt_travels;
    position: fixed;
    top: 95vh;
}
.press:hover {
    font-weight: bold;
    color: blue;
}

/* Film, Writing, Photography Titles*/
.title {
    font-size: 20px;
}
.title:hover {
    color: blue;
}

/* Sub-categories */
p{
    font-size: 12px;
    font-style: italic;
    margin-left: 30px;
    margin-top: 1px;
    margin-bottom: 1px;
}
p:hover {
    color: blue;
}

/* CENTER SECTION */
.center { 
    grid-area: 1 / 2 / 2 / 8; 
    display: grid;
    text-align: center;
    font-size: 24px;
}
img {
    width: 50vw;
    margin-left: auto;
    margin-right: auto;
}

/*  RIGHT BAR */
.right-bar { grid-area: 1 / 8 / 2 / 9;}
.cv { 
    position: fixed;
    top: 1vh;
    left: 97vw;
    font-size: 25px;
    text-align: right;
    padding-right: 15px;
}
.cv:hover {
    font-weight: bold;
    color: blue;              
}
.contact { 
    position: fixed;
    top: 95vh;
    left: 92vw;
    font-size: 25px;
    text-align: right;
    padding-bottom: 15px;
}
.contact:hover {
    font-weight: bold;
    color: blue;
}