body {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: start;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

img {
    width: 10%;
}