@font-face{
        font-family: tt_travels;
        src: url(../fonts/tt_travels/thin.otf);
}

@font-face{
        font-family: tt_travels_regular;
        src: url(../fonts/tt_travels/regular.otf);
}

body {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 15px;
    width: 100vw;
    font-family: tt_travels; 
    cursor: pointer;
}

/* LEFT BAR */
.left-bar { 
    grid-area: 1 / 1 / 2 / 2; 
    text-align: left; 
    margin-left: 10px; 
    position: fixed;
}

.qiaose {
    /* Cannot figure out why this is the same size as the 25px font in the index page!! */
    font-size: 40px;
}
.qiaose:hover {
    font-weight: bold;
    color: blue;
}

.press{
    font-size: 40px;
    font-family: tt_travels;
    margin-left: 15px;
    align-self: end;
    position: fixed;
    top: 95vh;
}
.press:hover {
    font-weight: bold;
    color: blue;
}

/* Film, Writing, Photography Titles*/
.title {
    font-size: 30px;
}
.title:hover {
    color: blue;
}

/* Sub-categories */
p{
    font-size: 20px;
    font-style: italic;
    margin-left: 30px;
    margin-top: 1px;
    margin-bottom: 1px;
}
p:hover {
    color: blue;
}

/* CENTER SECTION */
/* Argentina title */
.collapsible {
  cursor: pointer;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 30px;
  font-family: tt_travels;
  background-color: white;
  margin-left: 40px;
  margin-top: 15px;
}
.active, .collapsible:hover {
   font-weight: bold;
}
/* Work on getting arrow to actually rotate */
.arrow {
    width: 12px;
    align-self: center;
}

.center { 
    grid-area: 1 / 2 / 2 / 8; 
}
.container {
    width: 100%;
    height: 25%;
    display: none;
    opacity: 1;
    visibility: visible;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap; 
    justify-content: space-evenly;
}
img {
    width: 20%;
}

/*  RIGHT BAR */
.right-bar { grid-area: 1 / 8 / 2 / 9; 
background-color: blue;}
.cv { 
    font-size: 40px;
    text-align: right;
    padding-right: 15px;
}
.cv:hover {
    font-weight: bold;
    color: blue;              
}
.contact { 
    font-size: 40px;
    text-align: right;
    padding-bottom: 15px;
    padding-right: 15px;
}
.contact:hover {
    font-weight: bold;
    color: blue;
}