@font-face{
        font-family: tt_travels;
        src: url(../fonts/tt_travels/thin.otf);
}

@font-face{
        font-family: tt_travels_regular;
        src: url(../fonts/tt_travels/regular.otf);
}

body {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 15px;
    width: 100vw;
    font-family: tt_travels; 
    cursor: pointer;
}

/* LEFT BAR */
.left-bar { 
    grid-area: 1 / 1 / 2 / 2; 
    text-align: left; 
    position: fixed;
}

.qiaose {
    font-size: 25px;
}
.qiaose:hover {
    font-weight: bold;
    color: blue;
}

.press{
    font-size: 25px;
    font-family: tt_travels;
    position: fixed;
    top: 95vh;
}
.press:hover {
    font-weight: bold;
    color: blue;
}

/* Film, Writing, Photography Titles*/
.title {
    font-size: 20px;
}
.title:hover {
    color: blue;
}

/* Sub-categories */
p{
    font-size: 12px;
    font-style: italic;
    margin-left: 30px;
    margin-top: 1px;
    margin-bottom: 1px;
}
p:hover, .clicked {
    color: blue;
}

/* CENTER SECTION */
/* Argentina title */
.collapsible {
  cursor: pointer;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 22px;
  font-family: tt_travels;
  background-color: white;
  /* margin-left: 40px; */
  margin-top: 15px;
}
/* Work on getting arrow to actually rotate */
.arrow {
    width: 12px;
    align-self: center;
}

.center { 
    grid-area: 1 / 2 / 2 / 8; 
    display: grid;
    text-align: center;
}
.container {
    flex: 0 0 auto; 
    width: 100%;
    height: 500px;
    display: none;
    visibility: visible;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap; 
    justify-content: space-evenly;
    gap: 5px;
}
img {
    width: 200px;
    align-self: flex-start;
}
.individual_img{
    height: 90vh;
    width: auto;
    margin-left: auto;
    margin-right: auto;
}
.goback {
    font-size: 15px;
}
.goback:hover {
    color: blue;
}

/*  RIGHT BAR */
.right-bar { grid-area: 1 / 8 / 2 / 9;}
.cv { 
    position: fixed;
    top: 1vh;
    left: 97vw;
    font-size: 25px;
    text-align: right;
    padding-right: 15px;
}
.cv:hover {
    font-weight: bold;
    color: blue;              
}
.contact { 
    position: fixed;
    top: 95vh;
    left: 92vw;
    font-size: 25px;
    text-align: right;
    padding-bottom: 15px;
}
.contact:hover {
    font-weight: bold;
    color: blue;
}